# Exercise Level 1

### Number 1: Finding the length of a set

In [156]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle'}

print(len(it_companies))

6

### Number 2: Adding 'Twitter' to the list

In [157]:
it_companies.add('Twitter')

print(it_companies)

{'Apple', 'Oracle', 'Twitter', 'IBM', 'Microsoft', 'Facebook', 'Google'}

### Number 3: Inserting multiple IT companies to a set

In [158]:
it_companies.update(['Huawei', 'X', 'Tesla', 'Ericsson'])

print(it_companies)

{'Apple', 'Tesla', 'Facebook', 'Ericsson', 'Huawei', 'Twitter', 'Microsoft', 'Oracle', 'Google', 'X', 'IBM'}

### Number 4: Removing one of the companies from a set

In [159]:
it_companies.remove('IBM')
print(it_companies)

{'Apple', 'Tesla', 'Facebook', 'Ericsson', 'Huawei', 'Twitter', 'Microsoft', 'Oracle', 'Google', 'X'}

### Number 5: Difference between remove and discard

### __Answer__
The _remove_ function raises an error if an element does not exist, while the _discard_ function does not raise an error if an element does not exist.

# Exercise Level 2

### Number 1: Joining A and B

In [160]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

union = A.union(B)

print(union)

{19, 20, 22, 24, 25, 26, 27, 28}

### Number 2: Finding the intersection between A and B

In [161]:
intersection = A.intersection(B)
print(intersection)

{19, 20, 22, 24, 25, 26}

### Number 3: Is A subset of B?

In [162]:
subset = A.issubset(B)
print(subset)

True

### Number 4: Are A and B disjoint sets?

In [163]:
disjoint = A.isdisjoint(B)
print(disjoint)

False

### Number 5: Joining A with B and B with A

In [164]:
joint_sets = A.update(B)
print(joint_sets)

joint_sets1 = B.update(A)
print(joint_sets1)

None
None

### Number 6: Finding the symmetric difference between A and B

In [165]:
difference = A.symmetric_difference(B)
print(difference)

set()

### Number 7: Deleting the complete set

In [166]:
del joint_sets

# Exercise Level 3

### 1: Converting the ages to a set and comparing the length of the list and the set to determine which one is bigger

In [167]:
ages = set(age)
ans = ages.difference(age)

ans = len(ages) is len(age)
print(ans)

False

### Number 2: Difference between string, list, tuple and set data types
### __Strings:__
String is an ordered collection of characters, immutable (unchangeable)
### __Lists:__
List is an ordered collection of items. mutable (changeable)
### __Tuple:__
Tuple is an ordered collection of items, and immutable (unchangeable)
### __Set:__
Set is an unordered collection of unique items and unindexed. Mutable, but items within it are immutable.

### Number 3: Using the split methods and set to get the unique words

In [168]:
sentence = 'I am a teacher and I love to inspire and teach people.'

words = sentence.split()
unique_words = set(words)

numbers = len(unique_words)
print(numbers)

10