# Day 1 Exercises
### Exercise Level 1
### Number 1:

In [14]:
!python --version

Python 3.11.5

### Number 2:

In [15]:
print(3 + 4)   
print(3 - 4)   
print(3 * 4)   
print(3 / 4)   
print(3 ** 4)  
print(3 % 4)   
print(3 // 4)

7
-1
12
0.75
81
3
0

### Number 3:

In [16]:
print('Abubakar') 
print('Saleh')
print('Nigeria')
print('I am enjoying 30 days of python')

Abubakar
Saleh
Nigeria
I am enjoying 30 days of python

### Number 4:

In [17]:
print(type(10))                 
print(type(9.8))                
print(type(3.14))              
print(type(4 - 4j))          
print(type(['Asabeneh', 'Python', 'Finland']))           
print(type('name' 'Abubakar')) 
print(type('family_name' 'Saleh'))
print(type('country' 'Nigeria'))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>
<class 'str'>
<class 'str'>

### Exercise Level 2
### Number 1:

In [18]:
 {

    'First_Name' :'Abubakar',
    'Last_Name'  :'Saleh',
    'Country'  :'Nigeria',
    'Age'  :300,
    'is_married' : True,
    'Skills'  :['Python', 'Networking', 'IT Support', 'Data Analysis']
}

{'First_Name': 'Abubakar',
 'Last_Name': 'Saleh',
 'Country': 'Nigeria',
 'Age': 300,
 'is_married': True,
 'Skills': ['Python', 'Networking', 'IT Support', 'Data Analysis']}