# Day 5 Exercises

## Exercise Level 1

### Number 1: Declaring an empty list

In [61]:
empty_list = []

### Number 2: Declaring a List of more than % items

In [62]:
items = ['Cloud_Computing', 'Cyber_Security', 'Data_Science', 'AI', 'Maxhine_Learning', 'VR']

print(items)

['Cloud_Computing', 'Cyber_Security', 'Data_Science', 'AI', 'Maxhine_Learning', 'VR']

### Number 3: Finding the length of the list

In [63]:
print(len(items))

6

### Number 4: Getting the first, middle, and the last items

In [64]:
first_item = items[0]
middle_item = items[len(items) // 2]
last_item = items[5]

print(first_item, middle_item, last_item)

Cloud_Computing AI VR

### Number 5: Mixed data type

In [65]:
mixed_data_types = ['Abubakar', 30, 1.69, 'Single', 'Nassarawa Street']

### Declaring and assigning values to a list

In [66]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

### Number 7: Printing List

In [67]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

### Number 8: Printing No. of Companies in the List

In [68]:
print(len(it_companies))

7

### Number 9: Printing the first, middle, and last item

In [69]:
first_item = it_companies[0]
middle_item = it_companies[len(items) // 2]
last_item = it_companies[-1]

print(first_item, middle_item, last_item)

Facebook Apple Amazon

### Number 10: Modifying the list

In [70]:
it_companies [1] = 'Ericsson'
print(it_companies)

['Facebook', 'Ericsson', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

### Number 11: Adding an IT company

In [71]:
it_companies.append('Nokia')
print(it_companies)

['Facebook', 'Ericsson', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Nokia']

### Number 12: Inserting an IT company in the middle

In [72]:
middle_item = len(it_companies) // 2
it_companies.insert(middle_item, 'Remita')
print(it_companies)

['Facebook', 'Ericsson', 'Microsoft', 'Apple', 'Remita', 'IBM', 'Oracle', 'Amazon', 'Nokia']

### Number 13: Changing an IT company name to uppercase

In [73]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies[4] = it_companies[4].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

### 14: Join a company with a string

In [74]:
stj = '; #' .join(it_companies)
print(stj)

Facebook; #Google; #Microsoft; #Apple; #IBM; #Oracle; #Amazon

### 15: Checking if a company exists

In [75]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
check = 'Apple' in it_companies
print(check)

True

### 16: Sorting the list

In [76]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

### 17: Reversing the list:

In [77]:
it_companies.reverse()
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

### 18: Slicing out first 3 items

In [78]:
first_3 = it_companies[:3]
print(first_3)

['Oracle', 'Microsoft', 'IBM']

### 19: Slicing out last 3 items

In [79]:
last_3 = it_companies[-3:]
print(last_3)

['Facebook', 'Apple', 'Amazon']

### 20: Slicing out middle items

In [80]:

middle_item = it_companies[len(it_companies) // 2]
print(middle_item)

Google

### 21: Removing the first item

In [81]:
del it_companies[0]
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

### 22: Removing the middle item

In [82]:
#del middle_item
#middle_item = it_companies[len(it_companies) // 2]
#it_companies = it_companies.pop[middle_item]
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

### 23: Removing the last item

In [83]:
del it_companies[-1:]
print(it_companies)

['Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

### 24: Removing all items from the list

In [84]:
del it_companies[:]
print(it_companies)

[]

### 25: Destroying the IT company list

In [85]:
it_companies.clear
print(it_companies)

[]

### 26: Joining a list

In [86]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend (back_end)

print(front_end)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

### 27: Assigining the lists to a new variable

In [87]:
full_stack = front_end
redux = full_stack.index('Redux')

full_stack.insert(redux + 1, 'Python')
full_stack.insert(redux + 2, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# Exercise Level 2

### number 1: Finding the minimum and maximum ages

In [88]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
min_age = min(ages)
max_age = max(ages)

print('Sorted Ages:', ages)
print('Minimum Age is:', min_age)
print('Maximum Age is:', max_age)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age is: 19
Maximum Age is: 26

### Adding the max and min ages to the list

In [89]:
ages.append(min_age)
ages.append(max_age)

print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

### Finding the Median

In [90]:
n = len(ages)
mid1 = ages[n // 2 - 1]
mid2 = ages[n // 2]
median_age = (mid1 + mid2) / 2

print('Median Age is:', median_age)

Median Age is: 24.0

### Finding the Average

In [91]:
avr_age = sum(ages) / len(ages)

print('Average Age is:', avr_age)

Average Age is: 22.75

### Finding the Range

In [92]:
age_range = max(ages) - min(ages)

print('Range of Ages is:', age_range)

Range of Ages is: 7

### Comparing the Values

In [93]:
avr_age = sum(ages) / len(ages)

min_diff = abs(min(ages) - avr_age)
max_diff = abs(max(ages) - avr_age)

print('Absolute Difference (min - average) is:', min_diff)
print('Absolute Difference (max - average) is:', max_diff)

Absolute Difference (min - average) is: 3.75
Absolute Difference (max - average) is: 3.25

### Number 2: Finding the Middle county(ies)

In [94]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
    'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
    'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
    'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
    'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
    'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
    'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
    'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
    'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North',
    'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
    'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
    'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
    'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
    'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
    'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent',
    'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles',
    'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
    'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
    'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
    'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City',
    'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe',
]

mid_index = len(countries) // 2
middle_country = countries[mid_index]

print('Middle Country is:', middle_country)

Middle Country is: Lesotho

### Number 3: Dividing the countries into two equal lists

In [95]:
mid_index = len(countries) // 2

first_list = countries[:mid_index + len(countries) % 2:]
second_list = countries[mid_index + len(countries) % 2:]

print('First List is:', first_list)
print('Second List is:', second_list)

First List is: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
Second List is: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

### Number 4: Unpacking the first 3 countries

In [96]:
first_country, second_country, third_country, *scandic_countries = countries

print('First Country:', first_country)
print('Second Country:', second_country)
print('Third Country:', third_country)
print('Scandic Countries:', scandic_countries)

First Country: Afghanistan
Second Country: Albania
Third Country: Algeria
Scandic Countries: ['Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']