# Day 6 Exercises
## Exercise Level 1

### Number 1: Creating an empty tuple

In [1]:
empty_tuple = ()

print(empty_tuple)

()

### Number 2: Creating a tuple for brothers and sisters

In [2]:
brothers = ('Ali', 'Umar', 'Muhammad', 'Usman', 'Ibrahim', 'Abdurrahman')
sisters = ('Hauwa', 'Maryam', 'Khadija')

print('Brothers:', brothers)
print('Sisters:', sisters)

Brothers: ('Ali', 'Umar', 'Muhammad', 'Usman', 'Ibrahim', 'Abdurrahman')
Sisters: ('Hauwa', 'Maryam', 'Khadija')

### Number 3: Joining the tuples

In [3]:
siblings = brothers + sisters
print('Siblings:', siblings)

Siblings: ('Ali', 'Umar', 'Muhammad', 'Usman', 'Ibrahim', 'Abdurrahman', 'Hauwa', 'Maryam', 'Khadija')

### Number 4: Number of siblings

In [4]:

print(len(siblings))

9

### Number 5: Modifying the siblings tuple

In [5]:

family_members = list(siblings)
father = 'Saleh'
mother = 'Mum'

family_members = (father, mother) + siblings
print('Family Members are:', family_members)

Family Members are: ('Saleh', 'Mum', 'Ali', 'Umar', 'Muhammad', 'Usman', 'Ibrahim', 'Abdurrahman', 'Hauwa', 'Maryam', 'Khadija')

# Exercise Level 2

### Number 1: Unpacking sibling and parents

In [6]:
parents = family_members[:2]
siblings = family_members[2:]

print(parents)
print(siblings)

('Saleh', 'Mum')
('Ali', 'Umar', 'Muhammad', 'Usman', 'Ibrahim', 'Abdurrahman', 'Hauwa', 'Maryam', 'Khadija')

### Number 2: Creating Fruits, Vegetable and Animal product tuples

In [7]:
fruits = ('Apple', 'Mango', 'Watermelon')
vegetables = ('Cabbage', 'Lettuce', 'Carrots')
animal_products = ('meat', 'Egg', 'Chicken')

food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('Apple', 'Mango', 'Watermelon', 'Cabbage', 'Lettuce', 'Carrots', 'meat', 'Egg', 'Chicken')

### Number 3: Changing the food_stuff_tp

In [8]:
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['Apple', 'Mango', 'Watermelon', 'Cabbage', 'Lettuce', 'Carrots', 'meat', 'Egg', 'Chicken']

### 4: Slicing out the middle item

In [9]:
middle_item = food_stuff_lt[len(food_stuff_lt) // 2]
print(middle_item)

Lettuce

### 5: Slicing out the first three and last three items

In [10]:
first_three = food_stuff_lt[:3]
print(first_three)

last_three = food_stuff_lt[-3:]
print(last_three)

['Apple', 'Mango', 'Watermelon']
['meat', 'Egg', 'Chicken']

### 6: Deleting the food_stuff_tp tuple

In [11]:
del food_stuff_tp

### 7: Checking for an item 'Apple' in the tuple

In [12]:
print('Apple' in food_stuff_lt)

True

### Checking if 'Estonia' is a nordic country

In [13]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Estonia' in nordic_countries)

False

### Checking if 'Iceland' is a nordic country

In [14]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Iceland' in nordic_countries)

True