# Exercise Level I & II

### Declaring Variables

In [15]:

first_name = 'Abubakar'
last_name = 'Saleh'
full_name = 'Abubakar Saleh'
country = 'Nigeria'
city = 'Bauchi'
age = 300
year = 2023
is_married = False
is_true = True
is_light = True

# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'Abubakar', 'Saleh', 'Nigeria', '300', True

print(first_name, last_name, country, age, is_married)

Abubakar Saleh Nigeria 300 True

### Checking the Datatpe of Variable

In [16]:
print(type(first_name))
print(type(last_name))
print(type(full_name)) 
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

### Finding the Lehgth of first name

In [17]:
print(len(first_name))

8

### Varialbe declaration & assignment

In [18]:
num_one = 5
num_two = 4
total = num_one + num_two
diff = num_two - num_one
product = num_two * num_one
division = num_one / num_two
remainder = num_two % num_one
exp = num_one ** num_two
floor_division = num_one // num_two

print('The total is:',total)
print('The difference is:', diff)
print('The product is:', product)
print('The division is:', division)
print('The remainder is:', remainder)
print('The exponential is:', exp)
print('The floor division is:', floor_division)

The total is: 9
The difference is: -1
The product is: 20
The division is: 1.25
The remainder is: 4
The exponential is: 625
The floor division is: 1

### Area of a Circle

In [19]:
radius = 30
area_of_circle = 3.14159 * radius ** 2
print("Area of the circle:", area_of_circle)

Area of the circle: 2827.431

### Circumference of a Circle

In [20]:
circum_of_circle = 2 * 3.14159 * radius
print('Circumference of the circle:', circum_of_circle)

Circumference of the circle: 188.4954

### Taking radius as user input

In [21]:
radius1 = float(input('Enter radius:' ))
area_of_circle1 = 3.4159 * radius1 ** 2
print('Area of the circle is:', area_of_circle1)

Area of the circle is: 491.88960000000003

### Using built-in function to get first name, last name, country, and age

In [22]:
input('Enter First Name:')
input('Enter Last Name:')
input('Country:')
input('Enter Age:')

print('First Name:', first_name)
print('Last Name:', last_name)
print('Country:', country)
print('Age:', age)

First Name: Abubakar
Last Name: Saleh
Country: Nigeria
Age: 300