# Exercise Level I & II

### Declaring Variables

In [ ]:

first_name = 'Abubakar'
last_name = 'Saleh'
full_name = 'Abubakar Saleh'
country = 'Nigeria'
city = 'Bauchi'
age = 300
year = 2023
is_married = False
is_true = True
is_light = True

# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'Abubakar', 'Saleh', 'Nigeria', '300', True

### Checking the Datatpe of Variable

In [ ]:
print(type(first_name))
print(type(last_name))
print(type(full_name)) 
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light))

### Finding the Lehgth of first name

In [ ]:
print(len(first_name))

### Varialbe declaration & assignment

In [ ]:
num_one = 5
num_two = 4
total = num_one + num_two
diff = num_two - num_one
product = num_two * num_one
division = num_one / num_two
remainder = num_two % num_one
exp = num_one ** num_two
floor_division = num_one // num_two

### Area of a Circle

In [ ]:
radius = 30
area_of_circle = 3.14159 * radius ** 2
print("Area of the circle:", area_of_circle)

### Circumference of a Circle

In [ ]:
circum_of_circle = 2 * 3.14159 * radius
print('Circumference of the circle:', circum_of_circle)

### Taking radius as user input

In [ ]:
radius1 = float(input('Enter radius:' ))
area_of_circle1 = 3.4159 * radius1 ** 2
print('Area of the circle is:', area_of_circle1)

### Using built-in function to get first name, last name, country, and age

In [ ]:
input('Enter First Name:')
input('Enter Last Name:')
input('Country:')
input('Enter Age:')

print('First Name:', first_name)
print('Last Name:', last_name)
print('Country:', country)
print('Age:', age)