# Day 10 Exercises
### Exercise Level 1
### Number 1: Iterating 0 - 10 using _for loop_ and _while loop_

In [1]:
# For Loop

for n in range(10):
    print(n)

# While loop

n = 0
while n <= 10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10

### Number 2: Iterating 10 - 0 using _for loop_ and _while loop_

In [2]:
for i in range(10, -1, -1):
    print(i)

# Using while loop

i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

### 3: Loop that makes seven calls to print() triangle

In [3]:
for i in range(1, 8):
    print('#' * i)

#
##
###
####
#####
######
#######

### 4: Using nested loops

In [4]:
for i in range(8):
    print('# ' * 8)

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

### 5: Printing a Pattern

In [5]:
for i in range(11):
    print(f"{i} x {i} = {i * i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

### 6: Iterating through a list

In [6]:
lst = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
for lst in lst:
    print(lst)

Python
Numpy
Pandas
Django
Flask

### 7: Using for loop to iterate from 0 to 100 and print only even numbers

In [7]:
for i in range(0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 8: Using for loop to iterate from 0 to 100 and print only odd numbers

In [8]:
for i in range(1, 101, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Exercise Level 2
### 1: Using for loop to iterate from 0 to 100

In [9]:
total = sum(range(101))
print('The sum of all numbers is', total)

The sum of all numbers is 5050

### 2: Using for loop to iterate from 0 to 100 and printing the sum of  evens and the sum of odds

In [10]:
sum_even = sum(range(0, 101, 2))
sum_odd = sum(range(1, 101, 2))
print(f"The sum of all evens is {sum_even}. And the sum of all odds is {sum_odd}.")

The sum of all evens is 2550. And the sum of all odds is 2500.

## Exercise Level 3
### 1: Extracting countries with the word _land_

In [11]:
from data.countries import countries

countries_with_land = [country for country in countries if 'land' in country.lower()]
print(countries_with_land)

ModuleNotFoundError: No module named 'data'

### Reversing fruit list using loop

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
reversed_fruits = []
for fruit in reversed(fruits):
    reversed_fruits.append(fruit)
print(reversed_fruits)

### 3i: Total number of languages in the data

In [ ]:
languages = set()
for country in countries_data:
    languages.update(country['languages'])
total_languages = len(languages)
print('The total number of languages in the data is', total_languages)

### 3ii: 10 most spoken languages from the data

In [ ]:
from collections import Counter

all_languages = [language for country in countries_data for language in country['languages']]
language_counts = Counter(all_languages)
most_spoken_languages = language_counts.most_common(10)
print("The ten most spoken languages are:", most_spoken_languages)

### 3iii: 10 most populated countries in the world

In [ ]:
sorted_countries = sorted(countries_data, key=lambda x: x['population'], reverse=True)
most_populated_countries = [country['name'] for country in sorted_countries[:10]]
print(f"The 10 most populated countries in the world are: {most_populated_countries}")